body{
    background-image: url("Gemini_Generated_Image_blur.jpg");
    background-attachment: fixed;
}
#navbar-main{
    border-radius: 25px;
}
#navbar-container{
    margin-top: 13px;
}
#brand-logo{
    height: 30px;
    width: 115px;
    
}
.nav-item-style{
    margin-left: 42px;
    /* margin-right: 20px; */
}
.filter-link-txt{
    color: black;
    font-variant: small-caps;
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
}
.nav-link-txt{
    color: #ffffff;
    font-variant: small-caps;
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
}
.nav-link-txt:active{
    color: #a1bcd8;
}
.nav-link-txt:hover{
    color: #a1bcd8;
}
#faq-accordian{
    margin-top: 50px;
    background-color: none;
}
.card{
    background-color: transparent !important;
}
.card-link{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
    transition: all 0.5s;
}
.card-link:hover{
    font-size: 35px;
    color: black;
}
#faq1,#faq2,#faq3{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
}
#search{
    text-align: center;
    width:100%;
    height: 3.1rem;
    border-radius:25PX;
    border: none;
    font-family: 'Roboto Slab', serif;
}

#branding-txt{
    text-align: center;
    font-size: 75px;
    font-family: 'Roboto Slab', serif;
    padding-top: 50px;
}
.vertical-txt-style{
    margin: 0;
    font-size: 50px;
    line-height: 80px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.influencer-img{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 6.25rem;
    
}
.filter-btn{
    width: 12rem;
    font-family:'Roboto Slab', serif ;
}
.influencer-img-name{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5625rem;
}
.influencer-div-show{
    margin: 0px 2.5rem;
    animation: influencer-photo 10s infinite;
}
.influencer-main-div-show{
    padding-top: 1.25rem;
    position: relative;
    display: block;
    overflow: hidden;
}
#back-svg{
    height: 3rem;
    width: 3rem;
}
@keyframes influencer-photo {
    0%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-17.5rem);
    } 
    40%{
        transform: translateX(-17.5rem);
    }
    50%{
        transform: translateX(-35rem);
    }
    65%{
        transform: translateX(-35rem);
    }
    75%{
        transform: translateX(-52.5rem);
    }
    90%{
        transform: translateX(-52.5rem);
    }
    100%{
        transform: translateX(-70rem);
    }
}
#influencer-profile-list{
    margin-top: 1rem;
}
.influencer-mini-profile{
    background-color: #343a40;
    justify-content:space-evenly ;
    width: 800px;
    border-radius: 20px;
    align-items: center;

}
.influencer-profile-img{
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 60px;
    margin: 0.625rem 0;
    
}
.mini-profile-txt{
    color: white;
}
.profile-platform-logo{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
}
@media only screen and (width<=26.875rem){
    .influencer-img-name{
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 0.95rem;
    }
    .influencer-div-show{
        margin: 0px 1rem;
        animation: influencer-photo1 10s infinite;
    }
    .influencer-img{
        height: 8rem;
        width: 8rem;
        border: 4rem;
    }
    .filter-btn{
        width: auto;
        font-size: 03125rem;
    }
    .mini-profile-txt{
        font-size: 0.9rem;
    }
    .influencer-profile-img{
        width: 5rem;
        height: 5rem;
        border-radius: 2.5rem;
    }
    #filter-button{
        justify-content: space-evenly !important;
    }
    .btndiv{
        width: 5rem;
        padding: auto;
    }
    .filter-btn{
        width:5.441rem !important;
        text-align: center !important;
        /* padding: 0.5rem !important; */
    }
    .influencer-mini-profile{
        width: auto;
    }
    .profile-platform-logo{
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 0.9rem;
    }
    @keyframes influencer-photo1 {
        0%{
            transform: translateX(0);
        }
        15%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(-14.6875rem);
        } 
        40%{
            transform: translateX(-14.6875rem);
        }
        50%{
            transform: translateX(-29.375rem);
        }
        65%{
            transform: translateX(-29.375rem);
        }
        75%{
            transform: translateX(-44.0625rem);
        }
        90%{
            transform: translateX(-44.0625rem);
        }
        100%{
            transform: translateX(-58.75rem);
        }
    }   
}
@media only screen and (width<=22.5rem) {
    .mini-profile-txt{
        font-size: 0.82rem;
    }
    .influencer-profile-img{
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 1.85rem;
    }
}
@media only screen and (width < 820px) {
    .filter-btn{
        font-size: 10px;
        width: 10rem ;
    }
}
@media only screen and (width < 671px){
    #branding-txt{
        font-size : 30px;
    }
    .vertical-txt-style{
        font-size: 25px;
    }

}

.vertical-animated-txt{
    animation: rotate-vertical 10s infinite;
    flex-direction: column;
}
@keyframes rotate-vertical {
    0%{
        transform: translateY(0);
    }
    13%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-25%);
    }38%{
        transform: translateY(-25%);
    }
    63%{
        transform: translateY(-50%);
    }
    75%{
        transform: translateY(-75%);
    }
    88%{
        transform: translateY(-75%);
    }
    100%{
        transform: translateY(-75%);
    }
}
.display-txt{
    display: block;
    position: relative;
    overflow: hidden;
    height: 5rem;
}


p{
    margin: 0px;
}
#inf-xyz{
    padding: 50px 0;
}
.headings{
    font-family:'Roboto Slab', serif ;
    text-align: center;
    font-weight: bold;
}
